body{
    background-color: aqua;
}
input{
    line-height: 25px;
    border-radius: 5px;
}
button{
    line-height: 25px;
    background-color: rgb(236, 95, 25);
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
}
.contain{
    margin:80px;
    margin-left: 40%;
}